---

---

@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

.stdin, .stdout {
  vertical-align: top;
  width: 49%;
  height: 3.8em;
}
  
.painel {
  display: none;
}