_private
_site
.sass-cache
.jekyll-metadata
.DS_Store
prova-pratica.md
prova-pratica-2a.md
*.sublime-workspace
_drafts/
bower_components/

#_private
a.out
analise-quantitativa
.Rproj.user

lista_emails_*.txt
lista_de_frequencia_*.xls*
