<script type="text/javascript">

  function runCode(code, codeMirror) {
    var language = codeMirror.options.mode;

    if (language === "javascript") {
      JavaScriptEval.eval(code, codeMirror);
    } else if (language === "scheme") {
      SchemeEval.eval(code, codeMirror);
    } else if (language === "ruby") {
      RubyEval.eval(code, codeMirror);
    }
  }

  // Experimental: replace markdown blockquotes with codemirror editors
  $(document).ready(() => {
    $('.editor').each((idx, el) => {
      var code = $(el).text().trim();
      var klass = $(el).attr('class').replace('language', 'lang');
      var textarea = $('<textarea></textarea>');
      textarea.attr('class', klass);
      textarea.text(code);
      $(el).replaceWith(textarea);
      buildEditor(textarea[0]);      
    });
  });
</script>