<script type="text/javascript">

  function runCode(code, codeMirror) {
    var language = codeMirror.options.mode;

    if (language === "javascript") {
      JavaScriptEval.eval(code, codeMirror);
    } else if (language === "scheme") {
      SchemeEval.eval(code, codeMirror);
    } else if (language === "ruby") {
      RubyEval.eval(code, codeMirror);
    }
  }

  // Experimental: replace markdown blockquotes with codemirror editors
  $(document).ready(() => {
    var code = $('.editor').text().trim();
    var klass = $('.editor').attr('class').replace('language', 'lang');
    console.log(code);
    var textarea = $('<textarea></textarea>');
    textarea.attr('class', klass);
    textarea.text(code);
    $('.editor').replaceWith(textarea);
    buildEditor(textarea[0]);
  });
</script>