<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <script type="text/javascript" src="{{site.baseurl}}/lib/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/lib/jquery-ui/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/lib/jquery-ui/jquery-ui.min.css">
  
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/lib/simple-hint/simple-hint.min.css">
  
  <script type="text/javascript" src="{{site.baseurl}}/lib/confetti/confetti.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin' rel='stylesheet' type='text/css' />

  {% include head-items-mata56.html %}
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
