<script type="text/javascript" src="{{site.baseurl}}/lib/jquery/jquery.min.js"></script>

<script type="text/javascript" src="{{site.baseurl}}/lib/jquery-ui/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/lib/jquery-ui/jquery-ui.min.css">

<script type="text/javascript" src="{{site.baseurl}}/lib/ramda/ramda.min.js"></script>

<script src="{{site.baseurl}}/lib/codemirror/codemirror.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}/lib/codemirror/codemirror.css">
<script src="{{site.baseurl}}/lib/codemirror/mode/javascript/javascript.js"></script>
<script src="{{site.baseurl}}/lib/codemirror/mode/scheme/scheme.js"></script>
<script src="https://repl.it/lib/api.js" type="text/javascript" charset="utf-8"></script>
<script src="{{site.baseurl}}/lib/codemirror/mode/ruby/ruby.js"></script>

<link rel="stylesheet" href="{{site.baseurl}}/lib/codemirror/addon/hint/show-hint.css">
<link rel="stylesheet" href="{{site.baseurl}}/lib/codemirror/addon/lint/lint.css">

<script src="{{site.baseurl}}/lib/biwascheme/biwascheme-0.6.6-min.js"></script>


<script type="text/javascript" src="{{site.baseurl}}/lib/editors/editors-codemirror.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/lib/editors/eval-biwascheme.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/lib/editors/eval-javascript.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/lib/editors/eval-ruby.js"></script>
<!-- 
<script type="text/javascript" src="{{site.baseurl}}/lib/submissao/submissao.js"></script>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/lib/submissao/submissao.css">
 -->

<!-- <link rel="stylesheet" href="{{site.baseurl}}/lib/codemirror/addons/fullscreen.css"> -->