---

triple: true

---

<!DOCTYPE html>

<html>

    {% include head.html %}
    
    <body>

        <div class = "page-content">

            <div>

                {{ content }}
                

                <div class="right column" id = "consolelog">
                       <input type = "button" id = "expandeConsole" value = "Expandir"/>
                        <p class = "console" id = "log"></p>
                </div>

            </div>

            <footer>
                <input type = "button" class = "btn-back" id = "volta" value = "Retroceder"/>
                <input type = "button" class = "btn-fwd" id = "avanca" value = "Avançar"/>

            </footer>

            <script type="text/javascript">
                $(document).ready(() => {
                    addRunCodeHook(() => {
                        $("#consolelog").html("");
                    });
                });
            </script>
        </div>

    </body>

</html>
