---
triple: true
---

<!DOCTYPE html>

<html>

    {% include head.html %}
    
    <body>
        <script type="text/javascript">
            document.triplePage = true;
        </script>

        <div class="painel">
            <input type="button" class="btn-back" id="volta" value="Retroceder"/>
            <input type="button" class="btn-fwd" id="avanca" value="Avançar"/>
            <input type="button" id="expandeEditor" value="Expandir editor"/>
        </div>
        
        {% include header.html %}



        <div class=postpost-content">
            {{ content }}
        </div>
    </body>

</html>
